// min-width
@media all and (min-width: 1201px) {

}

// max-width
@media all and (max-width: 1200px) {

}
@media all and (max-width: 992px) {
  .about {
    .title {
      margin-top: 20px;
      text-align: center;
      &::before {
        content: none;
      }
    }
    img {
      margin: 0 auto;
    }
  }
  .chef {
    .title {
      margin-top: 0;
      text-align: center;
      &::before {
        content: none;
      }
    }
    .col-md-4 {
      margin-top: 30px;
      img {
        margin: 0 auto;
      }
    }
  }
  footer {
    .col-md-6 {
      text-align: center;
      .made-by {
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}
@media all and (max-width: 768px) {
  header {
    .row {
      .col-md-6 {
        text-align: right;
        &.top-info {
          text-align: center;
        }
        .header-address {
          margin-bottom: 15px;
        }
      }
    }
  }
  .main-slider.slick-slider {
      .slick-slide {
        .slide-content {
          width: 88%;
          max-width: 100%;
          -webkit-transform: translate(6%, -50%);
          transform: translate(6%, -50%);
        }
      }
  }
  #menu-toggle {
    float: left;
    position: relative;
    margin-top: -56px;
    margin-left: -20px;
  }
  .container-fluid, .container {
    padding: 0 25px;
  }
  #sidebar-wrapper {
    overflow: auto;
  }
}
@media all and (max-width: 480px) {

}

@media all and (max-height: 580px) {
  #sidebar-wrapper {
    overflow: auto;
    .sidebar-footer-romb-1,
    .sidebar-footer-romb-2,
    .sidebar-footer-romb-3 {
      display: none;
    }
  }
}
